h1 {
  color: #ada0a5;
}
h2 {
  color: #a09bc2;
}
h3 {
  color: #d6d59e;
}
h4 {
  color: #cada72;
}
h5 {
  color: #f6bd6a;
}
h6 {
  color: #ef8668;
}
body {
  color: #ea6d30;
}
p {
  color: #f7a73d;
}
body {
  color: #f7a73d;
}
blockquote {
  color: #f7a73d;
}
pre {
  color: #f7a73d;
}
